@keyframes bg {

	50%  {
		background-color: transparent;
		border: 1px solid #11151e;
		box-shadow: none;
	}

	100% {
		border: 1px solid whitesmoke;
		background-color: #fff;
		-webkit-box-shadow: 0px 0px 40px 0px rgba(200,205,240,0.4);
		-moz-box-shadow: 0px 0px 40px 0px rgba(200,205,240,0.4);
		box-shadow: 0px 0px 40px 0px rgba(200,205,240,0.4);
	}
}

@keyframes dash {

  to {
    stroke-dashoffset: 0;    
  }
}

@keyframes color {
	50%  {fill: transparent;}
	100% {fill: #0b7143;}
}

@keyframes city-ani {
	50%  {
		fill: transparent;
		stroke: #040811;
	}
	100% {
		fill: #040811;
		stroke: transparent;
	}
}