/* ==========================================================================
Colors
========================================================================== */

$color: #fff;

/* ==========================================================================
Browser Upgrade Prompt
========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.fafa {
	fill: transparent;
	stroke-width: 1;
	stroke: #365975;
	stroke-dasharray: 600;
	stroke-dashoffset: 600;
	animation: dash 4s linear forwards;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}